body {
    font-family: "Montserrat", serif;
    color: #ffffff;
    background-color: #141414;
}

header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    // наполнение
}

.head-wrap, .main-wrap, .foot-wrap {
    // наполнение
}

.head-wrap, .main-wrap {
    justify-content: space-between;
}

.basket:hover {
    
}

.text, .up-text {
    display: flex;
    flex-direction: column;
}

.text {
    gap: 300px;
    margin-top: 181px;
}

.up-text {
    gap: 22px;
}

.title {
    // наполнение
}

.desc, .link {
    // наполнение
}

.desc {
    font-weight: 500;
}

.link {
    // наполнение
}

.link:hover {
    // наполнение
}

.headphones {
    // наполнение
}

.foot-wrap {
    margin-top: 300px;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    // наполнение
}

.btn {
    // наполнение
}

.btn:hover {
    cursor: pointer;
    background-color: #f6758c;
}

.foot-contacts {
    // наполнение
}

.foor-text {
    // наполнение
}

.foor-text p {
    margin: 0;
}



